<div class="container">
  <div class="row">
      <div class="col-lg text-center">
        <p>
          <a href="https://github.com/aaronsdevera/Personal-News-Feed">(haphazardly) designed by Aaron DeVera. GNU-AGPLv3</a>
        </p>
    </div>
  </div>
</div>