<div class="container">
  <div class="nav row">
      <div class="col-sm">
        <a href="https://github.com/aaronsdevera/Personal-News-Feed"><h3><span class="site-title">NewsFeed</span></h3></a>
    </div>
  </div>
</div>