<div class="container">
  <div class="nav row">
      <div class="col-sm-auto">
        <a href="https://github.com/aaronsdevera/Personal-News-Feed"><h3><span class="site-title">NewsFeed</span></h3></a>
      </div>
      <div class="col-sm-auto">
        <h3><span id="insert-time" class="site-time"></span></h3>
      </div>
      <div class="col-sm-auto">
        <h3><span id="insert-tag" class="site-tag">
          <input placeholder="insert a term to highlight"></input>
        </span></h3>
      </div>
  </div>
</div>